Optional Notebook: Python Basics
================================
This Notebook is for people who haven't done the pre-requisite Datacamp courses. Others may proceed directly to the logistic regression notebook.

## Instructions

- Press CTRL-Enter to run cell and stay in the cell. 
- Press SHIFT-Enter to run cell and move the the next cell.

Or click the button on the left, but pros use shortcuts! :-)

Just run each cell and observe what it does. Feel free to change things around.

In [1]:
print("Hello World")

Hello World

## Math

In [2]:
5 + 3

8

In [3]:
5 - 3

2

In [4]:
5 / 3

1.6666666666666667

In [5]:
5 / 3 - 1

0.6666666666666667

In [6]:
5 / (3 - 1)

2.5

In [7]:
5 * 3

15

In [8]:
5 ** 3

125

**Question: what does ** do?**

--> $5^3$

### Variables & data types

In [0]:
x = 5

In [10]:
type(x)

int

In [0]:
y = 5.1

In [12]:
type(y)

float

In [0]:
z = "foo"

In [14]:
type(z)

str

In [15]:
x * y

25.5

**Question: what does x * z do? Think about this first, and then try below:**

In [16]:
# YOUR CODE HERE
x * y

25.5

### Lists

In [0]:
l = [1, 2, 3]

In [18]:
l

[1, 2, 3]

In [19]:
type(l)

list

In [0]:
l.append(4)

In [21]:
l

[1, 2, 3, 4]

In [0]:
l.remove(3)

In [23]:
l

[1, 2, 4]

### Loops

In [24]:
for item in [11, 22, 33]:
    print(item - 3)

8
19
30

### Functions

In [0]:
def double(x):
    return x * 2

In [26]:
double(11)

22

In [27]:
double([1, 2, 3])

[1, 2, 3, 1, 2, 3]

### Boolean algebra

In [0]:
sun_is_shining = True

In [30]:
type(sun_is_shining)

bool

In [31]:
if sun_is_shining:
    print("Go outside!")
else:
    print("Stay inside!")

Stay inside!

**Exercise: change `True` to `False` above, and run again.**

**Exercise: add variable `raining`, next to `sun_is_shining`. Change the logic: this time, you only want to go outside if it is dry and the sun is shining. Use keyword `not`.**

In [34]:
# YOUR CODE HERE
raining = True

if sun_is_shining and not raining:
    print("Go outside!")
else:
    print("Stay inside!")

Stay inside!

# Pandas
Pandas is an open source library for manipulating tabular data. It is very powerful and is also known as "Excel on steroids".

In [0]:
import pandas as pd

It uses so-called DataFrames.

In [0]:
df = pd.DataFrame({"var1": [1, 2, 3], "var2": ["x", "x", "y"]})

In [0]:
df.head()

   var1 var2
0     1    x
1     2    x
2     3    y

You can directly access the index and columns:

In [0]:
df.index.values

array([0, 1, 2])

In [0]:
df["var1"]

0    1
1    2
2    3
Name: var1, dtype: int64

In [0]:
df["var2"]

0    x
1    x
2    y
Name: var2, dtype: object

Or the rows - based on the index:

In [0]:
df.loc[1, :]

var1    2
var2    x
Name: 1, dtype: object

Even specific values by index & column:

In [0]:
df.loc[1, "var2"]

'x'

And you can make selections:

In [0]:
df[df["var1"] > 1]

   var1 var2
1     2    x
2     3    y

**Exercise: try selecting the rows for which `var2` is equal to `"x"`**

In [0]:
# YOUR CODE HERE
df[df["var2"] == "x"]

   var1 var2
0     1    x
1     2    x